Modules/Microsoft.PowerToys.Configure/0.97.2.0/Microsoft.PowerToys.Configure.psm1
Modules/Microsoft.PowerToys.Configure/0.97.2.0/Microsoft.PowerToys.Configure.psd1
profile.ps1
Microsoft.PowerShell_profile.ps1
Microsoft.PowerShell_profile.ps1
